# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# Ignore Following Files / Directories

# dependencies
/node_modules
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
